<div id="image">
	<div><img src="images/meu.jpg" alt="Profile Picture" ></div>
</div>
<div id="info">
	<h3>About me</h3>
		<p>
			I am a 22 year old college student, currently enroled in the 5th year of the course, Mestrado Integrado em Engenharia Informática e Computação also known as <a href="http://sigarra.up.pt/feup/pt/cur_geral.cur_view?pv_ano_lectivo=2014&pv_origem=CUR&pv_tipo_cur_sigla=MI&pv_curso_id=742" target="_blank">MIEIC</a>, at Porto's engineering college (<a href="http://sigarra.up.pt/feup/pt/web_page.inicial" target="_blank">FEUP</a>).
			From an early age I have showed a very keen interest in how devices work, namely electronics and computers. Since then I have developed a big appetite for knowledge in computer science and its related security, mobile and graphic areas. It is because of these interests, that I chose to study computer science in Porto, where I am learning the skills necessary to work in this area.
			I also have a passion for sports, namely ski and karate which I practice as much and as often as I can.
		</p>
		<h3>Skills</h3>
		<p>
			Whilst I am only a student at the moment, I feel that I have developed some of the core skills which are imperative to a computer science engineer.
			Of everything I've learned, some of the skills I feel are most relevant include:
		</p>
		<table>
				<tr>
					<td>
						Front-end web technologies:
						<ul>
							<li>HTML</li>
							<li>CSS</li>
							<li>Javascript</li>
						</ul>
					</td>
					<td>
						Back-end web technologies:
						<ul>
							<li>Php</li>
							<li>Node.js</li>	
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						Database languages:
						<ul>
							<li>SQLite</li>
							<li>MySQL</li>
							<li>PostgreSQL</li>
						</ul>
					</td>
					<td>
						Traditional programming languages:
						<ul>
							<li>C</li>
							<li>C++</li>
							<li>Java</li>
						</ul>
					</td>
				</tr>
			</table>
</div>